<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Nightwatch-Cucumber</title>
        <meta name="description" content="Cucumber.js plugin for Nightwatch.js.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="res/main.css">
        <link rel="stylesheet" href="res/prism-okaidia.css">
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-51256585-2', 'auto');
          ga('send', 'pageview');
        </script>
    </head>
    <body>
        <header>
            <nav>
                <a href="index.html">
                    <img src="https://raw.githubusercontent.com/mucsi96/nightwatch-cucumber/master/img/nightwatch-cucumber-logo.png" alt="nightwatch-cucumber">
                </a>
                <span>Nightwatch-Cucumber</span>
                <ul>
                    <li><a href="https://github.com/mucsi96/nightwatch-cucumber" alt="GitHub">Github</a></li>
                    <li><a href="https://www.npmjs.com/package/nightwatch-cucumber" alt="NPM">NPM</a></li>
                    <li><a href="https://twitter.com/mucsi96" alt="Twitter">Twitter</a></li>
                    <li><a href="https://stackoverflow.com/questions/tagged/nightwatch.js+cucumber" alt="Stackoverflow">Ask questions</a></li>
                <ul>
            </nav>
        </header>
        <main>
            <article>
                <!-- CONTENT -->
            </article>
        </main>
        <script src="res/main.js"></script>
    </body>
</html>
